#section5{
    width: 100%;

    .section5__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 120px 0px 0px;
        border-bottom: 1px solid #EDEDED;

        h3{
            color: var(--Text, #666);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            padding-bottom: 16px;
            border-bottom: 3px solid #008ECC;

            span{
                color: #008ECC;
            }
        }

        p{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px; 
            color: var(--HEading, #222);
            text-align: right;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;

            i{
                color: #008ECC;
            }
        }

    }

    .section5__img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0px 0px;

        img{
            width: 389px;
            height: 307px;
            border-radius: 16px;
            object-fit: cover;
        }
    }

    .section5__spans{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -70px;
    }
}